body {
    font-family: "Ubuntu";
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 200%;
    border: 5px solid rgb(0, 0, 0);
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    width: fit-content;
    height: fit-content;
    
}

div.boxfornumbers {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    width: 30px;
    height: 30px;
    float: left;
}

div.firstinline {
    clear: left;
}

.border {
    margin-top: 50px;
    width: 200px;
  height: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: rgb(0, 0, 0);
}

.buttonBorder {
    background:
    linear-gradient(to right, rgb(165, 72, 202) 4px, transparent 4px) 0 0,
    linear-gradient(to left, rgb(165, 72, 202) 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, rgb(165, 72, 202) 4px, transparent 4px) 0 0,
    linear-gradient(to top, rgb(165, 72, 202) 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.time {
    color: rgb(165, 72, 202);
    text-shadow: black 1px 1px;
    padding: 0px;
    margin: 0;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.904);
    z-index: 2;
}

.startbutton {
    top: 50%;
    color: rgb(255, 255, 255);
    border: solid white;
    font-family: "Ubuntu";
}

.startbutton:hover {
    top: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.13);
}

.header {
    top: 10%;
    color: white;
    border: solid rgb(255, 255, 255) 2px; 
    padding: 10px;
}

.transform {
    position: absolute;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
}

.w {
    top: 10%;
}

.youWon {
    top: 30%;
}
.rules {
    border: solid rgb(255, 255, 255) 2px;
    color: azure;
    font-size: 25px;
    padding: 10px;
    top: 23%;
}

.endingoverlay {
    border: solid 2px rgb(255, 255, 255);
    padding: 10px;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/awasomefont/Ubuntu-Medium.ttf') format('truetype');
}